.feature-container {
  margin-top: 10px;
  height: auto;

}



.feature-container h1 {
  font-size: 54px;
  font-weight: 600;
  background-color: #ffffff;
  background: radial-gradient(
    50% 50% at 50% 50%,
    #ffffff 30%,
    rgba(255, 255, 255, 0.397) 84.77%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 30px;
}

.upper-container-main {
  display: block;
  border: 2px solid #664dff;

  border-radius: 42px;
  box-shadow: 0px -2px 100px 0px #664dff33;
  width: 96%;
  margin: auto;
  background: linear-gradient(180deg, #010314 40%, #140d3f 100%);
}

@media (max-width: 1023px) {
  .upper-container-main {
    display: none !important;
    /* border: 2px solid red; */

  }
}


.upper-container-main .img-div {
  border: 1px solid #2a2b3a;
  /* width: 678px; */
    background: linear-gradient(
    180deg,
    rgba(111, 60, 247, 0) 52.44%,
    #6f3cf7 100%
  );
  border-radius: 50px;
  /* padding: 20px; */
  margin: 40px;
}


.img-div img {
    /* border: 2px solid red; */
/* <img className="w-[562px] h-[539px] rounded-[30px]" src="https://via.placeholder.com/562x539" /> */
  /* width: 520px; */
  /* height: 600px; */

  border-radius: 30px;
  /* margin-top: 90px; */

}

.text-div {
  width: 450px;
  height: 316px;
  gap: 20px;
}
.Features-union{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* gap: 1px; */
}

.Features-union img{
  /* border: 2px solid red; */
  width: 30px;
  height: 30px;
  margin-left: 10px;
}
.text-div h2 {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 25.6px;
  letter-spacing: 0.4em;
  text-align: left;
  background: linear-gradient(95.02deg, #4467ff 13.23%, #7241ff 81.63%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 5px;
  margin: 10px;
}

.text-div h1 {
  height: 38px;
  font-family: Roboto;
  font-size: 32px;
  font-weight: 700;
  line-height: 38.4px;
  text-align: left;
  background: radial-gradient(
    50% 50% at 50% 50%,
    #ffffff 30%,
    rgba(255, 255, 255, 0.5) 84.77%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 10px;
}

.text-div p {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 25.6px;
  text-align: left;
  margin-left: 10px;
  color: #77798f;
}
.p-div {
  margin-top: 20px;
}
.p-div p {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 25.6px;
  text-align: left;
  margin-left: 10px;
  color: #77798f;
}

.p-div p strong {
  color: rgb(173, 170, 170);
}

.downContainer {
  margin-top: 35px;
  /* height: 681px; */
  padding: 30px;
  gap: 20px;
}
.middle-container{
  display: none;
}
@media (max-width:1023px) {
  .middle-container{
    display: block;
  }
}
.left-container {
  padding: 20px;
  border: 2px solid #664dff;
  border-radius: 42px;
  box-shadow: 0px -2px 100px 0px #664dff33;
  background: linear-gradient(
    180deg,
    rgba(111, 60, 247, 0) 52.44%,
    #6f3cf7 100%
  );
}

.left-container h2 {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 25.6px;
  letter-spacing: 0.4em;
  text-align: left;
  background: linear-gradient(95.02deg, #4467ff 13.23%, #7241ff 81.63%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 5px;
  margin: 10px;
}

.left-container h1 {
  height: 38px;
  font-family: Roboto;
  font-size: 32px;
  font-weight: 700;
  line-height: 38.4px;
  text-align: left;
  background: radial-gradient(
    50% 50% at 50% 50%,
    #ffffff 30%,
    rgba(255, 255, 255, 0.5) 84.77%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 10px;
}

.left-container p {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 25.6px;
  text-align: left;
  margin-left: 10px;
  color: #77798f;
}

.right-container {
  /* border: 2px solid green; */
  padding: 10px;
}

.left-container .img-div img {
  border-radius: 50px;
}


@media (max-width:500px) {
  .feature-container{
padding: 11px !important;
margin-top: -70px;
  }
  .downContainer{
padding: 0;
  }
  
}

@media (max-width:450px) {
  
    
.feature-container h1 {
font-size: 35px ;
}
.Features-union img{
  width: 25px !important;
  height: 25px !important;

}

.Features-union h2{
  font-size: 15px !important;
}
.left-container h1 {
  font-size: 26px !important;
  /* margin: 5px; */

}
.left-container p {
  font-size: 15px !important;
}


}

