.useCases-Section{
    width: 100%;
   margin-top: 120px;
}
.useCases-Section h1{
    font-family: Outfit;
    font-size: 54px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; 
    background: radial-gradient(70.71% 70.71% at 50% 50%, #FFF 30%, rgba(255, 255, 255, 0.50) 84.77%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
margin-bottom: 40px;
}
.useCases-container{
    margin: auto;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.useCases-innerContainer{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
     width: 360px;
     gap: 15px;

}

.useCases-images img{
    object-fit: cover;
    width: 360px;

    height: auto;
}

.useCases-iconImages{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}
.useCases-iconImages img{
    width: 18px;
height: 18px;
}
.useCases-iconImages h2{
    font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 160%; 
letter-spacing: 6.4px;
text-transform: uppercase;
background: var(--Linear-Gradient, linear-gradient(95deg, #4467FF 13.23%, #7241FF 81.63%));
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.useCases-innerItem p{
    color: #FFF;
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 120%; 
}


@media (max-width:1024px) {
    .useCases-Section{
       margin-top: 100px;
    }
    .useCases-iconImages h2{
    font-size: 14px;
    letter-spacing: 2.4px;

    }
    .useCases-innerItem p{
    font-size: 15px;
    font-weight: 500;
    line-height: 100%; 
    } 
}
@media (max-width:733px) {
    .useCases-Section{
        margin-top: 80px;
     }
    .useCases-iconImages h2{
    font-size: 12px;
    letter-spacing: 1px;

    }
    .useCases-innerItem p{
    font-size: 12px;
    font-weight: 400;
    } 
}

@media (max-width:592px) {
    .useCases-iconImages h2{
    font-size: 10px;
    letter-spacing: 1px;

    }
    .useCases-innerItem p{
    font-size: 11px;
    font-weight: 400;
    } 
    
}

@media (max-width:526px) {
.useCases-container{
    width: 100%;
    overflow: hidden;
}
}

@media (max-width:500px) {
    .useCases-scrolling{
        display: none;
    }
    .useCases-Section{
        margin-top: 50px;
     }
     .useCases-Section h1{
        /* border: 2px solid red; */
        font-size: 37px ;
        height: 60px;
        margin-bottom: 40px !important;
    }
}
/* 

@media (max-width:475px) {
    .useCases-Section{
        margin-top: 50px;
     }
    .useCases-scrolling{
        width: 100%;
        overflow: scroll;
    }
    .useCases-container{
        width: 486px;
    }
    .useCases-Section h1{
        font-size: 37px ;
    }
    }
 */
